:root{
    --main-color: #EFDFBB;
    --secondary-color: #722F37;
    --header-bg-clr: #DFE8E6;
    --header-txt-clr: #975102;
    --margin-sm: 8px;
    --margin-md: 15px;
    --margin-lg: 25px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
    background-color: var(--main-color);
}

/*--- MENU --- */
#hamburger{display: none;}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: var(--main-color);
}
nav{
    background-color: var(--secondary-color);
    padding: 25px;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}
nav a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    bottom: -5px;
    background-color: var(--main-color);
    transition: .67s;
}
nav a:hover::after{width: 100%;}
ul{list-style: none;}
header{
    background-color: var(--header-bg-clr);
    height: 200px;
}

h1{
    color: var(--secondary-color);
    text-align: center;
    position: relative;
    top: 50%;
}
/*--- lábléc ---*/
footer{
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer h3{margin-bottom: var(--margin-lg);}

footer li{margin-bottom: var(--margin-sm);}

footer a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
}


/*--- optimalizálások ---*/
@media (max-width: 467px){
    #hamburger{
        display: block;
        z-index: 67;
    }
    #hamburger.active .bar:nth-child(2){opacity: 0;}
    #hamburger.active .bar:nth-child(1){transform: translateY(8px) rotate(45deg);}
    #hamburger.active .bar:nth-child(3){transform: translateY(-8px) rotate(-45deg);}
    nav ul{
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: var(--secondary-color);
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: .67s;
        padding-top: 67px;
        z-index: 41;
        justify-content: flex-start;
    }
    nav ul.active{ left: 0;}
    nav li{margin: var(--margin-md) 0;}
    footer{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    footer > div{text-align: center;}
}

@media(min-width: 768px) and (max-width: 1024px){
    nav a{font-size: 20px;}
    footer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        padding: 60px 40px;
        text-align: left;
    }
    footer h3{
        margin-bottom: var(--margin-md);
    }
}