#docs-container{
    display: grid;
    grid-template-columns: 310px 1fr;
}
#docs-sidebar{
    background-color: rgb(from var(--secondary-color) r g b / 0.1);
    padding: 20px;
    border-right: 2px solid var(--secondary-color);
    h3{
        color: var(--secondary-color);
        margin-bottom: 20px;
        font-size: 1.2rem;
        border-bottom: 2px solid var(--secondary-color);
        padding-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    a{
        color: var(--header-txt-clr);
        text-decoration: none;
        font-weight: 500;
        transition: all 0.3s;
        display: block;
        padding: 12px 15px;
        border-radius: 8px;
        background-color: rgb(255 255 255 / 0.3);
    }
}

#docs-sidebar a:not(.active):hover{
    background-color: rgb(255 255 255 / 0.3);
    padding-left: 20px;
    border-left: 4px solid var(--secondary-color);

}
#docs-sidebar a.active{
    color: var(--main-color);
    background-color: var(--secondary-color);
    font-weight: bold;
    padding-left: 20px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
}

#docs-content{
    padding: 40px;
    line-height: 1.5;
    h2{
        margin-top:15px 15px;
        color: var(--secondary-color);
    }
    h3{
        margin-top: 15px;
        margin-bottom: 10px;
        color: var(--header-txt-clr);
    }
    ul{
        margin-bottom: 15px;
        padding-left: 20px;
        list-style-type: disc;
    }
}

@media (max-width: 467px) {
    #docs-container {grid-template-columns: 1fr;}
    docs-sidebar {
        border-right: none;
        border-bottom: 1px solid var(--secondary-color);
    }
    #hamburger{display: none;}
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
}